<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
        {% csrf_token %}
      <p>{{ user.username }} is logged in.</p>
        </br>
        <ul>
            <li><a href = "{% url 'list' %}">List of Reports</a> </li>
            <li><a href = "{% url 'report' %}">Create a New Report</a> </li>
            <li>Messaging</li>
           {% block postman_menu %}
                <ul id="postman_menu">
                 <li><a href="{% url 'postman:inbox' %}">Inbox</a></li>
                 <li><a href="{% url 'postman:sent' %}">Sent Messages</a></li>
                 <li><a href="{% url 'postman:write' %}">Write</a></li>
                 <li><a href="{% url 'postman:archives' %}">Archives</a></li>
                 <li><a href="{% url 'postman:trash' %}">Trash</a></li>
                </ul>
            {% endblock %}
        </ul>
        </br>
        <form action="{% url "login" %}" method="post" enctype="multipart/form-data">{% csrf_token %}
			<input type="hidden" name='logout' value="False" />
			<input type='submit' value='Logout' />
        </form>

</body>
</html>