

<!DOCTYPE html>
{% extends "my_BASE.html" %}


		{% block title %} Report List {%  endblock %}

    {% block content %}
 	<div class="container theme-showcase" role="main">		

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
          <p>{{ user.username }}'s Reports (This is actually ALL of the reports. We should fix this).</p>
		<!-- List of uploaded documents border="1" style="width:100%"  -->
		{% if reports %}
			<table class="table table-striped">
				<!--<ul> -->
			<tr>
				<td><b>Date Uploaded</b></td>
                <td><b>Report Title</b></td>
                <td><b>Report Description</b></td>
                <td><b>Report File</b></td>
                <td><b>Visibility</b></td>
                <td><b>Edit Report</b></td>
                <td><b>Delete Report</b></td>
			</tr>
			{% for report in reports %}
			<tr>
                <td>{{ report.timestamp }}</td>
                <td>{{ report.short }}</td>
                <td>{{ report.detailed }}</td>
                <td>
                {%  if report.file %}
				    <a href="{{ report.file.url }}">{{ report.file.name }}</a></td>
                {% else %}
                    No file
                {% endif %}
                </td>
                <td>{{ report.visibility }}</td>
                <td>
                <form action="{% url "delete" %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                     <a class="btn btn-default" href="{% url 'report_edit' pk=report.pk %}" role="button">Edit</a>
                     <input type="hidden" name="report" value="{{ report.pk }}" />
                     </td>
                     <td>
                     <input type="submit" value="Delete" />
                 </td>
                </form>
               </tr>
			{% endfor %}
			</table>

            <form action="{% url "login" %}" method="post" enctype="multipart/form-data">{% csrf_token %}
			<input type="hidden" name='logout' value="False" />
			<input type='submit' value='Logout' />

			</form>

		{% else %}
			<p>No Reports.</p>
		</br>

		 <form action="{% url "login" %}" method="post" enctype="multipart/form-data">{% csrf_token %}
			<input type="hidden" name='logout' value="False" />
			<input type='submit' value='Logout' />

			</form>
		{% endif %}
	   </div>


	</div>

    {% endblock %}



