<!DOCTYPE html>
{% extends "my_BASE.html" %}


{% block title %} Report List {% endblock %}

{% block content %}
    <div class="container theme-showcase" role="main">

        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron">
            <p>{{ user.username }}'s Reports</p>
            <!-- List of uploaded documents border="1" style="width:100%"  -->

            <form method="get" action="{% url "search" %}">


                <label for="id_q">Search:</label>
                <input type="text" name="q" id="id_q"/>
                <input type="submit" value="Submit"/>
                <br/>

                <p> Select your search filters </p>
                Checked boxes means the search is limited to those fields </br>
                If search text is not present, reports will be filtered by visibility/upload date </br>
</br>
                <input type="checkbox" name="uploadedby" id="id_username"/>
                <label for="id_username">Uploaded by</label>
                &nbsp

                <input type="checkbox" name="short" id="id_short"/>
                <label for="id_short">Title</label>
                &nbsp

                <input type="checkbox" name="description" id="id_description"/>
                <label for="id_description">Description</label>
                &nbsp

                <input type="checkbox" name="files" id="id_files"/>
                <label for="id_files">Files</label>
                &nbsp
                <br/>

                <label for="id_begin">Upload Date Range</label>
                <input type="date" name="begin" id="id_begin"/>
                <input type="date" name="end" id="id_end"/>

                </br>
                <label for="id_visibility">Visibility</label>
                <select name="visibility" id="id_visibility">
                    <option value="all">all</option>
                    <option value="private">private</option>
                    <option value="public">public</option>
                </select>


            </form>
            <br/>
            {% if reports %}
                <table class="table table-striped">
                    <!--<ul> -->
                    <tr>
                        <td><b>Uploaded by</b></td>
                        <td><b>Date Uploaded</b></td>
                        <td><b>Report Title</b></td>
                        <td><b>Report Description</b></td>
                        <td><b>Report Files</b></td>
                        <td><b>Visibility</b></td>

                    </tr>
                    {% for report in reports %}
                        <tr>
                            <td>{{ report.username }}</td>
                            <td>{{ report.timestamp }}</td>
                            <td>{{ report.short }}</td>
                            <td>{{ report.detailed|truncatechars:30 }}</td>
                            <td>
                                <!-- get_attachments report as attachments %} -->
                                {% if report.file1 or report.file2 or report.file3 or report.file4 or report.file5 %}
                                    {% if report.file1 %}
                                        <a href="{{ report.file1.url }}">{{ report.file1.name }}</a>
                                        <br/>
                                    {% endif %}
                                    {% if report.file2 %}
                                        <a href="{{ report.file2.url }}">{{ report.file2.name }}</a>
                                        <br/>
                                    {% endif %}
                                    {% if report.file3 %}
                                        <a href="{{ report.file3.url }}">{{ report.file3.name }}</a>
                                        <br/>
                                    {% endif %}
                                    {% if report.file4 %}
                                        <a href="{{ report.file4.url }}">{{ report.file4.name }}</a>
                                        <br/>
                                    {% endif %}
                                    {% if report.file5 %}
                                        <a href="{{ report.file5.url }}">{{ report.file5.name }}</a>
                                        <br/>
                                    {% endif %}
                                {% else %}
                                    No files
                                {% endif %}

                            </td>
                            <td>{{ report.visibility }}</td>


                        </tr>
                    {% endfor %}
                </table>

                <form action="{% url "login" %}" method="post" enctype="multipart/form-data">{% csrf_token %}
                    <input type="hidden" name='logout' value="False"/>
                    <input type='submit' value='Logout'/>

                </form>

            {% else %}
                <p>No Reports.</p>
                </br>

                <form action="{% url "login" %}" method="post" enctype="multipart/form-data">{% csrf_token %}
                    <input type="hidden" name='logout' value="False"/>
                    <input type='submit' value='Logout'/>

                </form>
            {% endif %}
        </div>


    </div>

{% endblock %}



