<!DOCTYPE html>
{% extends "my_BASE.html" %}

            {% block title %} Activate an account {%  endblock %}

  {% block content %}
    {% if activated %}
    <p>The account has been activated. This <a href='../index'> link </a> will take you back to the home page, or go <a href='../login'> here</a> for the login page.</p>

    {% else %}
    <div class="container">
        <form method="post">{% csrf_token %}
        {{lou_form.as_p}}
        <input type='submit' value='Are you sure?' />
        </form>
   
   <input type="submit" value="submit">
   
    {% endif %}
    {% endblock %}