<!DOCTYPE html>
{% extends "my_BASE.html" %}

		{% block title %} SecureShare Login {%  endblock %}


  {% block content %}

    {% if logged_in %}
      <p>You are logged in.</p>
          <form action="{% url "index" %}" method="post" enctype="multipart/form-data">{% csrf_token %}
                <input type="hidden" name='' value="False" />
                <input type='submit' value='To SecureShare Home' />
          </form>

         <form action="{% url "login" %}" method="post" enctype="multipart/form-data">{% csrf_token %}
			<input type="hidden" name='logout' value="False" />
			<input type='submit' value='Logout' />
        </form>
    {% else %}

    <h3> User/Super User Login Page </h3>

    <form method="post" > {% csrf_token %}
        {{ login_form.as_p }}
        <input type="submit" value="OK">
    </form>

        </br>
    <span>Dont have an account?
        <form action="{% url "register" %}" method="post" enctype="multipart/form-data">{% csrf_token %}
            <input type='submit' value='Register' />
        </form>
    </span>

    {% endif %}

  {% endblock %}