<!DOCTYPE html>
{% extends "my_BASE.html" %}

            {% block title %} Make Super User {%  endblock %}

  {% block content %}
    {% if made_super_user %}
    <p>The account is now a superuser. This <a href='../index'> link </a> will take you back to the home page, or go <a href='../login'> here</a> for the login page.</p>

    {% else %}
    <div class="container">
        <form method="post">{% csrf_token %}
        {{super_user_form.as_p}}
        <input type='submit' value='Are you sure?' />
        </form>
   
   {%endif%}
    {% endblock %}