<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Minimal Django File Upload Example</title>	
	</head>

	<body>
		<!-- Upload form. Note enctype attribute! -->
		{% block content %}
            <h1>Edit Report</h1>
            <form action="{% url "report_edit" pk=report.pk %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <p><input type="submit" value="Upload" /></p>
            </form>
        {% endblock %}
	</body>

</html> 