<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Minimal Django File Upload Example</title>	
	</head>

	<body>
		<!-- List of uploaded documents -->
		{% if reports %}
			<ul>
			{% for report in reports %}
                <p>{{ report.timestamp }}</p>
                <p>{{ report.short }}</p>
                <p>{{ report.detailed }}</p>
                {%  if report.file %}
				    <li><a href="{{ report.file.url }}">{{ report.file.name }}</a></li>
                {% endif %}
                <form action="{% url "delete" %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                     <a class="btn btn-default" href="{% url 'report_edit' pk=report.pk %}" role="button">Edit</a>
                     <input type="hidden" name="report" value="{{ report.pk }}" />
                     <input type="submit" value="Delete" />
                </form>
			{% endfor %}
			</ul>
		{% else %}
			<p>No Reports.</p>
		</br>

		 <form action="{% url "login" %}" method="post" enctype="multipart/form-data">{% csrf_token %}
			<input type="hidden" name='logout' value="False" />
			<input type='submit' value='Logout' />

			</form>
		{% endif %}
	</body>

</html> 
