<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Login</title>
  </head>
  <body>
    <h3> User/Super User Login Page </h3>
    {% if login_failed %}
    <p color='red'> Login Failed.  Please try again. </p>
    {% endif %}
    <form method="post"> {% csrf_token %}

      <label for="username">Username: </label>
      <input id="username" type="text" name="username">

      <label for="password">Password: </label>
      <input id="password" type="password" name="password">
    
      </br>
      </br>

      <input type="submit" value="Login">

    </form>
  </body>
</html>