<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Register</title>
  </head>
  <body>
    {% if registered %}
      <p>Thank you for registering 
        Please log in <a href='../login'>here</a>. </p>
    {% else %}
    <form method="post"> {% csrf_token %}
      <label for="first_name">First Name: </label>
      <input id="first_name" type="text" name="first_name">

      <label for="last_name">Last Name: </label>
      <input id="last_name" type="text" name="last_name">

      </br>
      </br> 

      <label for="username">Username: </label>
      <input id="username" type="text" name="username">

      <label for="password">Password: </label>
      <input id="password" type="text" name="password">

        <!-- so that is_super user is sent to the post as false for a normal user -->
      </br> 
      </br> 

      <label for="is_superuser" >Admin: </label>
      <input  id="is_superuser" type="checkbox" name="is_superuser">

      </br> 
      </br> 
      <input type="submit" value="OK">

     

    </form>
    {% endif %}
  </body>
</html>